.vintageFont{
    font-size: 48px;
    font-family: 'VT323', monospace;
    color: #FFFFFF;
}
.lcdText{
    font-family: 'LCD', sans-serif;
    font-size: 36px;
    background-color: #473939;
}

.borderInside{
    border-top-width: 8px;
    border-top-color: rgb(127, 127, 127);
    border-top-style: solid;
    border-left-width: 8px;
    border-left-color: rgb(127, 127, 127);
    border-left-style: solid;
    border-bottom-width: 8px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-right-width: 8px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
}

.borderInsideS{
    border-top-width: 4px;
    border-top-color: rgb(127, 127, 127);
    border-top-style: solid;
    border-left-width: 4px;
    border-left-color: rgb(127, 127, 127);
    border-left-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-right-width: 4px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
}

.borderOutSide{
    border-top-width: 8px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-left-width: 8px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-bottom-width: 8px;
    border-bottom-color: rgb(127, 127, 127);
    border-bottom-style: solid;
    border-right-width: 8px;
    border-right-color: rgb(127, 127, 127);
    border-right-style: solid;
}


.bg-img {
    height: 100vh;
    background-image: url('./fondo9.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.bg-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* backdrop-filter: blur(5px); */
}
.bg-blur {
    /* background-color: #473939; */
    backdrop-filter: blur(25px);
}